{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime"
  ]
}
