# Copied from '.gitignore', please keep it in sync.
/.eslintcache
/node_modules
/coverage
/npmDist
/denoDist
/npm
/deno

# Ignore Flow typings for 3rd-party libraries
/flow-typed
# Ignore TS files inside integration test
/integrationTests/ts/*.ts
