# Copied from '.gitignore', please keep it in sync.
/diff-npm-package.html
/.eslintcache
/node_modules
/coverage
/npmDist
/denoDist
/npm
/deno
/build
.docusaurus
.cache-loader
.DS_Store
npm-debug.log*
